# Compiled Python files
__pycache__

# compressed files
*.rar
*.zip
*.7z
*.tar
*.gz

# Videos
*.mp4
*.mkv
*.avi
*.webm
*.mov
*.flv
*.wmv
*.3gp
*.mpg
*.mpeg
*.ogv
*.ts
*.vob

# Videos Folder
/Videos/*

# Executable files
*.exe
*.out
*.bin

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode
.idea
*.swp